{% extends 'base.html' %}
{% block content %}

<h1>Pokemon List</h1>

{% for item in pokemon %}
  <div class="card">
    <a href="{% url 'detail' item.id %}">
    <div class="card-content">
      <span class="card-title">{{ item.name }}</span>
      <p>Breed: {{ item.breed }}</p>
      <p>Description: {{ item.description }}</p>
      {% if item.age > 0 %}
        <p>Age: {{ item.age }}</p>
      {% else %}
        <p>Age: baby</p>
      {% endif %}
    </div>
    </a>
    <a href="/pokemon/{{ item.id }}/delete">Delete</a>
    |
    <a href="/pokemon/{{ item.id }}/edit">Edit</a>
  </div>
{% endfor %}

{% endblock %}